<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCg2cLw-WYTZOqoCforsMF4fH3M0x8GFco</string>
	<key>GCM_SENDER_ID</key>
	<string>185940337142</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ebookFrontend</string>
	<key>PROJECT_ID</key>
	<string>fir-flutter-auth-33437</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-flutter-auth-33437.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:185940337142:ios:fc57e10edd103e5ef527d7</string>
</dict>
</plist>